<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pocket Fitness.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F702B9F7207AD52D00326E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F702BA0B207AD52D00326E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F702BA16207AD52D00326E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
